<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Parameters Suite">
   <parameter name = "username" value = "testUser"/>
   <parameter name = "password" value = "abc@123"/>
   <parameter name = "ListOfProductsToAddToCart" value = "Stylecon 9 Seater RHS Sofa Set ;Xtend Smart Watch"/>
   <test name="Params">
   <groups>
         <run>
            <include name="Sanity"/>
            <include name="Regression"/>
         </run>
      </groups>
      <classes>
         <class name="QKART_TESTNG.QKART_Tests">
         </class>
      </classes>
   <parameter name = "product" value = "YONEX"/>
   <parameter name = "product2" value = "Roadster"/>
   <parameter name = "ProductNameToSearchFor" value = "YONEX Smash Badminton Racquet"/>
   <parameter name = "ProductNameToSearchFor2" value = "Tan Leatherette Weekender Duffle"/>
   <parameter name = "AddressDetails" value = "Addr line 1 addr Line 2 addr line 3"/>
   <parameter name = "ProductNameToSearch1" value = "Xtend Smart Watch"/>
   <parameter name = "ProductNameToSearch2" value = "Yarine Floor Lamp"/>
   <parameter name = "ProductName" value = "Stylecon 9 Seater RHS Sofa Set "/>
   <parameter name = "Qty" value = "10"/>
   <parameter name = "ContactusUserName" value = "crio user"/>
   <parameter name = "ContactUsEmail" value = "criouser@gmail.com"/>
   <parameter name = "QueryContent" value = "Testing the contact us page"/>
   <parameter name = "ProductNameToSearch" value = "YONEX Smash Badminton Racquet"/>
   <parameter name = "AddressToAdd" value = "Addr line 1 addr Line 2 addr line 3"/>
      <classes>
         <class name="QKART_TESTNG.QKART_Tests">
         </class>
      </classes>
   </test>
</suite>